Styling Rules in Python
- Use absolute imports wherever possible e.g. `import sqlalchemy` and `sqlalchemy.Column` instead of `from sqlalchemy import Column`
- Always use type hints
- Wherever it isn't super obvious, add a docstring. Use Google style docstrings.
- Import order (with a new line between each group):
1. Standard library imports
2. Related third party imports
3. Local application/library specific imports
- Two new lines after imports
- One new line between everything else (classes, functions, etc.)
- In all other situations, when writing Python, follow Google style standards

Styling Rules in TypeScript
- In all situations, when writing TypeScript, follow Google style standards
- Always include a comment above useEffect and similar hooks describing what they do
