[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
requests = "*"
flask = "*"
numpy = "*"
boto3 = "*"
flask-cors = "*"
marshmallow = "*"
plotly = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
pandas = "*"
mediapipe = "*"

[dev-packages]
setuptools = "*"
wheel = "*"
alembic = "*"

[requires]
python_version = "3.9"
